<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Pair Your Students</title>
  </head>
  <link rel="stylesheet" href="css/style.css">
  <body>

    <header id="main-header">
      Random Student Pairing
    </header>

      <%= yield %>

  </body>
</html>
