<button onclick="window.location.href='/'">Reset</button>

<ul id="finalList">
  <%studentlist.each do |pair| %>
    <li><%= pair[0] %>, <%= pair[1] %><%=pair[2] ? ", " + pair[2] : ""%></li>
    <br>
  <%end%>
</ul>
