<div>
  <input id="addStudentTextInput" type="text">
  <button onclick="handlers.addStudent()">Add</button>
</div>

<br>

<div class="">
  <form action="/pair" method="post">
    <ul id="list" name="students">
    </ul>
    <input id="studentlist" type="hidden" name="studentlist">
    <input type="submit" value="submit">
  </form>
</div>

  <script type="text/javascript" src="/javascript/scripts.js"></script>
