<button onclick="window.location.href='/'">Reset</button>

<div class="">
  <ul>
  <%studentlist.each do |pair| %>
  <li><%= pair[0] %>, <%= pair[1] %><%=pair[2] ? ", " + pair[2] : ""%></li>
  <%end%>
</ul>
</div>
