<div id="javascriptButtons">
  <input id="addStudentTextInput" type="text">
  <button onclick="handlers.addStudent()">Add</button>
</div>

<br>


<form action="/pair" method="post">
  <input type="submit" value="submit">
  <div class="form">
    <ul id="list" name="students">
    </ul>
  </div>
  <input id="studentlist" type="hidden" name="studentlist">
</form>


  <script type="text/javascript" src="/javascript/scripts.js"></script>
