html{
  background-color: #EAE6DA;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
  font-size: 1.5em;
}

body{

}

header{
  text-align: center;
  padding-bottom: 1em;
}

ul{
  list-style-type: none;
  position: relative;
  right: 1.3em;
}

li{
  text-align: center;
  padding: 1em;
  border-style: dashed;
  border-width: medium;
  border-color: grey;
  border-radius: 1em;
}

button{
  background-image: linear-gradient(135deg, #fdfcfb 0%, #e2d1c3 100%);
  font-size: .7em;
  border-width: medium;
  border-color: grey;
  border-radius: 1em;
}

form button{
  position: relative;
  bottom: 1.5em;
  left: 12.7em;
  bottom: 5em;
  font-weight: 200;
}

form button:hover{
  background: grey;
  cursor: pointer;
}

button:hover{
  background: grey;
  cursor: pointer;
}

form input:hover{
  background: grey;
  cursor: pointer;
}

#submit{
  background-image: linear-gradient(135deg, #fdfcfb 0%, #e2d1c3 100%);
  font-weight: 200;
  font-size: .8em;
  border-width: medium;
  border-color: grey;
  border-radius: 1em;
  position: relative;
  left: 4.7em;
}

#studentlist{
  background-image: linear-gradient(135deg, #fdfcfb 0%, #e2d1c3 100%);
  font-weight: 200;
  font-size: .8em;
  border-width: medium;
  border-color: grey;
  border-radius: 1em;
  position: relative;
  left: 4.7em;
}

#javascriptButtons{
  padding-left: 1em;
  display: flex;
}

#javascriptButtons input{
  background-color: #EAE6DA;
  border-style: dashed;
  border-width: medium;
  border-color: grey;
  border-radius: .4em;
  font-size: .8em;
  text-align: center;
}

#finalList li{
  padding-top: 1.5em;
}

.newpair{
  position: relative;
  left: 7em;
  bottom: 1.75em;
}
